@font-face{
  font-family: "summit";
  src: url( "../assets/fonts/SummitRegular-Display.ttf" );
}

.container {
  width: 95%;
  height: 95vh;
  overflow: hidden;
  margin-top: 15px;
}

.title {
  padding: 0 12px;
  font-family: "summit";
  font-size: 32px;
  text-align: center;
}

.weather-icon {
  height: 50px;
}

.weather-location, .weather-summary {
  display: block;
}

.weather-location {
  font-weight: 800;
  font-size: 18px;
}

.weather-summary {
  font-size: 15px;
}

.weather-message, .news-message {
  text-align: center;
  margin: 10px auto;
  font-style: italic;
}

.news {
  padding-top: 15px;
}

.news-list {
  padding: 0 12px;
}

.news-header {
  text-align: center;
}

.categories-select {
  text-align: center;
}

.nytimes-logo {
  height: 100%;
  margin: 8% 0;
}

.news-abstract-list {
  overflow: auto;
  padding: 0 5px;
}

.news-abstract-details {
  position: relative;
  top: 0;
  left: 0;
  margin: 15px auto;
  padding: 5px 10px;
  border-radius: 12px;
}

.news-abstract-thumbnail {
  height: 172px;
  background-size: cover;
  background-position: 50% 25%;
  background-color: #dcdcdc;
  border-radius: 8px;
  margin: 5px 0;
}

.nothing-to-see-here {
  position: relative;
  top: 45%;
  left: 20%;
}

.news-abstract-title {
  font-weight: 800;
  font-size: 18px;
  padding: 10px 15px;
}

.news-abstract-title:hover {
  cursor: pointer;
  text-decoration:underline;
}

.news-abstract-abstract {
  font-size: 15px;
  margin: 0 15px;
}

.news-abstract-author {
  font-size: 12px;
  margin: 3px 15px;
}

.news-display {
  height: 84vh;
  overflow: auto;
  background-color: aliceblue;
  background-size: cover;
  background-position: 45% 25%;
  margin: 0 2%;
  box-shadow: 0 0 15px 5px rgba( 219, 219, 219, 0.75 );
}

.news-display-wrapper {
  padding: 0;
  margin: 5px 15px;
}

.article-title {
  font-size: 35px;
  margin-bottom: 15px;
}

.article-author {
  font-size: 15px;
  font-style: italic;
}

.article-date {
  font-size: 12px;
}

.article-content {
  margin: 15px 0;
}

.article-full {
  margin-bottom: 10px;
}

@media (max-width: 424px) {
  .weather-icon {
    display: none;
  }

  .weather-location, .weather-summary {
    text-align: center;
    font-size: 15px;
  }

  .nytimes-logo {
    margin: 1% 0;
  }

  .news-display {
    display: none;
  }

  .news-abstract-list {
    height: 55vh;
  }
}

@media (min-width: 425px) and (max-width: 550px) {
  .weather-icon {
    display: none;
  }

  .weather-location, .weather-summary {
    text-align: center;
  }

  .nytimes-logo {
    margin: 2% 0;
  }

  .news-display {
    display: none;
  }

  .news-abstract-list {
    height: 50vh;
  }
}

@media (min-width: 551px) {

  .weather-icon {
    position: relative;
    float: right;
  }

  .news-abstract-list {
    height: 70vh
  }

  .news-display {
    height: 76vh;
  }

  .news-abstract-details:hover {
    top: -3px;
    left: 3px;
    -webkit-box-shadow: -5px 5px 5px 2px rgba(219,219,219,0.75);
    -moz-box-shadow: -5px 5px 5px 2px rgba(219,219,219,0.75);
    box-shadow: -5px 5px 5px 2px rgba(219,219,219,0.75);
  }
}

@media (min-width:768px) {
  .news-abstract-list {
    height: 72vh;
  }

  .news-display {
    height: 77vh;
  }
}

@media (min-width: 1024px) {
  .news-abstract-list {
    height: 73vh;
  }

  .news-display {
    height: 78vh;
  }
}

@media (min-width: 1440px) {
  .news-abstract-list {
    height: 78vh;
  }

  .news-display {
    height: 82vh;
  }
}
